target/*/*
target/**
target/*
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/test-classes/PostSalesPack/tentativeBookingsBucketCheckTest.class
target/classes/log4j.properties
