target/*/*
target/**
*/target/**
target/*/*/*.class
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/test-classes/PostSalesPack/tentativeBookingsBucketCheckTest.class
target/classes/log4j.properties
target/classes/adminPages/AdminDashboardPage.class
target/classes/adminPages/AdminDashboardPage.class
target/classes/adminPages/AllCampaignPage.class
target/classes/adminPages/AutomationDashboardPage.class
target/classes/adminPages/BookingListPage.class
target/classes/adminPages/CreateDocumentsPage.class
target/classes/adminPages/DocumentsPage.class
target/classes/adminPages/EditPartnerFormPage.class
target/classes/adminPages/EditTeamFormPage.class
target/classes/adminPages/ExportChannelPartnersTest.class
target/classes/adminPages/ExportPage.class
target/classes/adminPages/ImportPage.class
target/classes/adminPages/ManageTeamsPage.class
target/classes/adminPages/ManageUsersPage.class
target/classes/adminPages/NewCampaignFormPage.class
target/classes/adminPages/NewPartnerFormPage.class
target/classes/adminPages/NewTeamFormPage.class
target/classes/adminPages/NewUserFormPage.class
target/classes/adminPages/PartnersPage.class
target/classes/adminPages/SearchListPage.class
target/classes/adminPages/SettingsPage.class
target/classes/adminPages/UserManagementPage.class
target/classes/Config File/global.properties
target/classes/crm/selldo/AddLeadFormPage.class
target/classes/crm/selldo/AdminSupport_HomePage.class
target/classes/crm/selldo/BrochurePage.class
target/classes/crm/selldo/ClientLoginPage.class
target/classes/crm/selldo/CreateClientFormPage.class
target/classes/crm/selldo/EditLeadFormPage.class
target/classes/crm/selldo/EditUserFormPage.class
target/classes/crm/selldo/EmailPage.class
target/classes/crm/selldo/FollowupsPage.class
target/classes/crm/selldo/LeadBookingFormPage.class
target/classes/crm/selldo/LeadProfilePage.class
target/classes/crm/selldo/LoginPage.class
target/classes/crm/selldo/LogOfflineCallPage.class
target/classes/crm/selldo/MergeLeadsPage.class
target/classes/crm/selldo/PushToSalesPage.class
target/classes/crm/selldo/QuotesPage.class
target/classes/crm/selldo/ReassignLeadPage.class
target/classes/crm/selldo/SalesPresalesDashboardPage.class
target/classes/crm/selldo/SiteVisitPage.class
target/classes/crm/selldo/SmsPage.class
target/classes/crm/selldo/TaskPage.class
target/classes/inventory/DevelopersPage.class
target/classes/inventory/EditDeveloperFormPage.class
target/classes/inventory/EditFloorPlanPage.class
target/classes/inventory/EditProjectFormPage.class
target/classes/inventory/EditProjectTowerFormPage.class
target/classes/inventory/EditUnitPage.class
target/classes/inventory/FloorPlansPage.class
target/classes/inventory/NewDeveloperFormPage.class
target/classes/inventory/NewFloorPlanFormPage.class
target/classes/inventory/NewProjectFormPage.class
target/classes/inventory/NewProjectTowerFormPage.class
target/classes/inventory/NewUnitFormPage.class
target/classes/inventory/ProjectsPage.class
target/classes/inventory/ProjectTowersPage.class
target/classes/inventory/UnitsPage.class
target/classes/postSales/PostSalesDashboardPage.class
target/classes/postSales/TaskPage.class
target/classes/utility/CaptureScreenshot.class
target/classes/utility/GetTestData.class
target/classes/utility/SetUp.class
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/test-classes/adminPack/BookingALead_ConfirmedTest.class
target/test-classes/adminPack/BookingALead_TentativeTest.class
target/test-classes/adminPack/ClientCreationPostPaid.class
target/test-classes/adminPack/CreatingAClient_FullyFilledFormTest.class
target/test-classes/adminPack/CreatingAClient_RequiredFilledFormTest.class
target/test-classes/campaignSetupPack/CreatingCampaign_FilledFormTest.class
target/test-classes/campaignSetupPack/CreatingCampaign_MandatoryFillTest.class
target/test-classes/campaignSetupPack/DeactivatingAndReactivatingCampaignTest.class
target/test-classes/campaignSetupPack/RoiConfigurationTest.class
target/test-classes/campaignSetupPack/SearchingCampaignByNameTest.class
target/test-classes/channelPartnerPack/AddingChannelPartner_FilledFormTest.class
target/test-classes/channelPartnerPack/AddingChannelPartner_MandatoryFillTest.class
target/test-classes/channelPartnerPack/EditingChannelPartnerTest.class
target/test-classes/channelPartnerPack/SearchingChannelPartnerTest.class
target/test-classes/dashboardBucketsPack/MissedCalls_VerificationTest.class
target/test-classes/dashboardBucketsPack/MissedFollowup_VerificationTest.class
target/test-classes/dashboardBucketsPack/MissedSitevisit_VerificationTest.class
target/test-classes/dashboardBucketsPack/NewEnquiries_VerificationTest.class
target/test-classes/dashboardBucketsPack/NFA_VerificationTest.class
target/test-classes/dashboardBucketsPack/ReengagedLeads_VerificationTest.class
target/test-classes/dashboardBucketsPack/TodaysFollowup_VerificationTest.class
target/test-classes/dashboardBucketsPack/TodaysSitevisit_VerificationTest.class
target/test-classes/dashboardBucketsPack/UnreadEmail_VerificationTest.class
target/test-classes/exportPackage/ExportBookingsTest.class
target/test-classes/exportPackage/ExportCallsTest.class
target/test-classes/exportPackage/ExportCampaignsTest.class
target/test-classes/exportPackage/ExportFollowupsTest.class
target/test-classes/exportPackage/ExportInvoices_ItemizedBill_CalllTest.class
target/test-classes/exportPackage/ExportInvoices_ItemizedBill_EmailTest.class
target/test-classes/exportPackage/ExportInvoices_ItemizedBill_MarketingActivityTest.class
target/test-classes/exportPackage/ExportInvoices_ItemizedBill_SMSTest.class
target/test-classes/exportPackage/ExportLeadsTest.class
target/test-classes/exportPackage/ExportPartnersTest.class
target/test-classes/exportPackage/ExportProjectsTest.class
target/test-classes/exportPackage/ExportProjectUnitsTest.class
target/test-classes/exportPackage/ExportSitevisitsTest.class
target/test-classes/exportPackage/ExportTasksTest.class
target/test-classes/exportPackage/ExportUserLogsTest.class
target/test-classes/exportPackage/ExportUsersTest.class
target/test-classes/exportPackage/ExportVirtualNumbersTest.class
target/test-classes/importPack/ImportLeads.class
target/test-classes/inventory/AddingNewDeveloperTest.class
target/test-classes/inventory/AddingNewFloorPlanTest.class
target/test-classes/inventory/AddingNewProjectTest.class
target/test-classes/inventory/AddingNewProjectTowerTest.class
target/test-classes/inventory/AddingNewUnitTest.class
target/test-classes/inventory/EditingDeveloperTest.class
target/test-classes/inventory/EditingFloorPlanTest.class
target/test-classes/inventory/EditingProjectTest.class
target/test-classes/inventory/EditingProjectTowerTest.class
target/test-classes/inventory/EditingUnitTest.class
target/test-classes/inventory/SearchingDeveloperTest.class
target/test-classes/inventory/SearchingFloorPlanTest.class
target/test-classes/inventory/SearchingProjectTest.class
target/test-classes/inventory/SearchingProjectTowerTest.class
target/test-classes/inventory/SearchingUnitTest.class
target/test-classes/leadActivities/AddConductedSiteVisitTest.class
target/test-classes/leadActivities/AddingANoteTest.class
target/test-classes/leadActivities/AddTaskTest.class
target/test-classes/leadActivities/ChangingSiteVisitStatusTest.class
target/test-classes/leadActivities/ChangingTaskStatusTest.class
target/test-classes/leadActivities/FollowupTests.class
target/test-classes/leadActivities/LogOfflineCall_InboundAnsweredTest.class
target/test-classes/leadActivities/LogOfflineCall_InboundNotAnsweredTest.class
target/test-classes/leadActivities/LogOfflineCall_outboundAnsweredTest.class
target/test-classes/leadActivities/LogOfflineCall_OutboundNotAnsweredTest.class
target/test-classes/leadActivities/MarkingSiteVisitConductedTest.class
target/test-classes/leadActivities/MarkingSiteVisitDidNotVisitTest.class
target/test-classes/leadActivities/MarkingSiteVisitNotInterestedTest.class
target/test-classes/leadActivities/MarkOnDefaultBreakTest.class
target/test-classes/leadActivities/PullToSalesTest.class
target/test-classes/leadActivities/PushToSalesTest.class
target/test-classes/leadActivities/ReschedulingSiteVisitTest.class
target/test-classes/leadActivities/SendingEmailTest.class
target/test-classes/leadActivities/SendingEmailWithCCandBCCTest.class
target/test-classes/leadActivities/SendingEmailWithTemplateTest.class
target/test-classes/leadActivities/SendSmsTest.class
target/test-classes/leadStagesPack/ChangingStage_BookedToProspectTest.class
target/test-classes/leadStagesPack/ChangingStage_IncomingToProspectTest.class
target/test-classes/leadStagesPack/ChangingStage_LostToProspectTest.class
target/test-classes/leadStagesPack/ChangingStage_OpportunityToLostTest.class
target/test-classes/leadStagesPack/ChangingStage_ProspectToOpportunityTest.class
target/test-classes/leadStagesPack/ChangingStage_ProspectToUnqualifiedTest.class
target/test-classes/leadStagesPack/ChangingStage_UnqualifiedToProspectTest.class
target/test-classes/listsPack/AddingNewBookingListTest.class
target/test-classes/listsPack/AddingNewLeadSearchListTest.class
target/test-classes/listsPack/EditingBookingListTest.class
target/test-classes/listsPack/EditingLeadSearchListTest.class
target/test-classes/login/Admin_LoginTest.class
target/test-classes/login/Postsales_LoginTest.class
target/test-classes/login/PostSalesManager_LoginTest.class
target/test-classes/login/Presales_LoginTest.class
target/test-classes/login/PresalesManager_LoginTest.class
target/test-classes/login/Sales_LoginTest.class
target/test-classes/login/SalesManager_LoginTest.class
target/test-classes/login/SuperAdmin_LoginTest.class
target/test-classes/login/SupportManager_LoginTest.class
target/test-classes/otherLeadActivitiesPack/AddingInterestedPropertyTest.class
target/test-classes/otherLeadActivitiesPack/AddingLeadWithUnfilledFormTest.class
target/test-classes/otherLeadActivitiesPack/AddingNewLeadTest.class
target/test-classes/otherLeadActivitiesPack/AddingNewLeadWithFilledForm_PresalesTest.class
target/test-classes/otherLeadActivitiesPack/AddingNewLeadWithFilledForm_SalesTest.class
target/test-classes/otherLeadActivitiesPack/DocumentTest.class
target/test-classes/otherLeadActivitiesPack/LeadBooking_NonInventory_ConfirmedTest.class
target/test-classes/otherLeadActivitiesPack/LeadBooking_NonInventory_TentativeTest.class
target/test-classes/otherLeadActivitiesPack/MarkingOnBreakTest.class
target/test-classes/otherLeadActivitiesPack/MergingTwoLeadsFromDiffStagesTest.class
target/test-classes/otherLeadActivitiesPack/MergingTwoLeadsFromSameStagesTest.class
target/test-classes/otherLeadActivitiesPack/ReassigningLeadTest.class
target/test-classes/otherLeadActivitiesPack/SearchingLeadByAdminTest.class
target/test-classes/otherLeadActivitiesPack/SearchingLeadByUserTest.class
target/test-classes/otherLeadActivitiesPack/SendingBrochure_WithoutTemplateTest.class
target/test-classes/otherLeadActivitiesPack/SendingBrochure_WithTemplateTest.class
target/test-classes/otherLeadActivitiesPack/SendingQuotes_WithoutTemplateTest.class
target/test-classes/otherLeadActivitiesPack/SendingQuotes_WithTemplateTest.class
target/test-classes/PostSalesPack/addingNewCoapplicants.class
target/test-classes/PostSalesPack/addingNewTaskTest.class
target/test-classes/PostSalesPack/bookedLeadSearchTest.class
target/test-classes/PostSalesPack/cancelledBookingsBucketCheckTest.class
target/test-classes/PostSalesPack/confirmedBookingsBucketCheckTest.class
target/test-classes/PostSalesPack/demandLetterDeliveredBucketCheckTest.class
target/test-classes/PostSalesPack/demandLetterDraftBucketCheckTest.class
target/test-classes/PostSalesPack/demandLetterDueBucketCheckTest.class
target/test-classes/PostSalesPack/demandLetterPaidBucketCheckTest.class
target/test-classes/PostSalesPack/demandLetterPartiallyPaidBucketCheckTest.class
target/test-classes/PostSalesPack/missedFollowupBucketCheckTest.class
target/test-classes/PostSalesPack/receiptAvailableForRefundBucketCheckTest.class
target/test-classes/PostSalesPack/receiptClearancePendingBucketCheckTest.class
target/test-classes/PostSalesPack/receiptFailedBucketCheckTest.class
target/test-classes/PostSalesPack/receiptRefundedBucketCheckTest.class
target/test-classes/PostSalesPack/receiptSuccessfulBucketCheckTest.class
target/test-classes/PostSalesPack/tentativeBookingsBucketCheckTest.class
target/test-classes/userManagementPack/AddingNewTeamTest.class
target/test-classes/userManagementPack/ClientCreationPostPaid.class
target/test-classes/userManagementPack/CreatingAdminUserTest.class
target/test-classes/userManagementPack/CreatingClient_UnfilledformTest.class
target/test-classes/userManagementPack/CreatingPostsalesManagerTest.class
target/test-classes/userManagementPack/CreatingPostsalesUserTest.class
target/test-classes/userManagementPack/CreatingPresalesManagerTest.class
target/test-classes/userManagementPack/CreatingPresalesUserTest.class
target/test-classes/userManagementPack/CreatingSalesManagerTest.class
target/test-classes/userManagementPack/CreatingSalesUserTest.class
target/test-classes/userManagementPack/EditingUserTest.class
target/test-classes/userManagementPack/EditTeamTest.class
target/test-classes/userManagementPack/SearchingUserTest.class
/target/
